<div class="controls-contain">
    <div class="controls">
        <div class="controls-row">
            <button class="btn btn-large btn-primary arrows" ng-click="right()" type="button">◀</button>
            <button class="btn btn-large btn-primary arrows" ng-click="left()" type="button">▶</button>
        </div>
    </div>
</div>
