<div class="container">
    <div class="dg-wrapper">
        <section id="dg-container" class="dg-container">
            <div class="dg-wrapper">
                <a href="#"><img src="img/1.jpg" alt="image01"><div>http://www.colazionedamichy.it/</div></a>
                <a href="#"><img src="img/2.jpg" alt="image02"><div>http://www.percivalclo.com/</div></a>
                <a href="#"><img src="img/3.jpg" alt="image03"><div>http://www.wanda.net/fr</div></a>
                <a href="#"><img src="img/4.jpg" alt="image04"><div>http://lifeingreenville.com/</div></a>
                <a href="#"><img src="img/5.jpg" alt="image05"><div>http://circlemeetups.com/</div></a>
                <a href="#"><img src="img/6.jpg" alt="image06"><div>http://www.castirondesign.com/</div></a>
                <a href="#"><img src="img/7.jpg" alt="image07"><div>http://www.foundrycollective.com/</div></a>
                <a href="#"><img src="img/8.jpg" alt="image08"><div>http://www.mathiassterner.com/home</div></a>
                <a href="#"><img src="img/9.jpg" alt="image09"><div>http://learnlakenona.com/</div></a>
                <a href="#"><img src="img/10.jpg" alt="image10"><div>http://www.neighborhood-studio.com/</div></a>
                <a href="#"><img src="img/11.jpg" alt="image11"><div>http://www.beckindesign.com/</div></a>
                <a href="#"><img src="img/12.jpg" alt="image12"><div>http://kicksend.com/</div></a>
            </div>
            <nav>	
                <span class="dg-prev">&lt;</span>
                <span class="dg-next">&gt;</span>
            </nav>
        </section>
    </div>

    <script src="js/jquery.gallery.js"></script>
    <script src="js/modernizr.custom.53451.js"></script>

        
</div>
