<div class="container">
<center id="qrcode"></center>
<script src="bower_components/jquery.qrcode/src/qrcode.js"></script>
<script src="bower_components/jquery.qrcode/src/jquery.qrcode.js"></script>
</div>
