<!DOCTYPE html>
<html> 
    <body>
        <script src="/js/socket.io.js"></script>

        <script src="/js/ndual.js"></script>
        <script>
            Ndual(function(){
                console.log('dddd')         
            })
        </script>

    </body>

</html>
